<h1>Rooms</h1>

<form action="" name="create-room">
    <input type="text" name="room-name">
    <button name="send">Criar sala</button>
</form>

<script type="module" src="js/create-room.js"></script>

<script type="module" src="js/web-socket/client.js"></script>